//  Rzuty

.plan-apartment {
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;
  border-radius: 20px;
  // flex-basis: 100%;
  // max-width: 200px;

  .plan-image {
    max-width: 60%;
    img {
      max-width: 100%;
      border-radius: 20px;
    }
  }
  .plan-info {
    max-width: 40%;
  }
}
