<div class="main grid page-section">
  <div class="about-us">
    <h5>About Us</h5>
    <h3>We are building best appartments in the whole world</h3>
    <p>
      Phasellus dolor. Quisque rutrum. Donec quam felis, ultricies nec,
      pellentesque eu, pretium quis, sem. Proin pretium, leo ac pellentesque
      mollis, felis nunc ultrices eros, sed gravida augue augue mollis justo.
      Phasellus gravida semper nisi.<br /><br />
      Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus.
      Vivamus laoreet. Aliquam eu nunc. Phasellus viverra nulla ut metus varius
      laoreet. Nulla consequat massa quis enim. Nulla neque dolor, sagittis
      eget, iaculis quis, molestie non, velit. Cum sociis natoque penatibus et
      magnis dis parturient montes, nascetur ridiculus mus. Morbi mattis
      ullamcorper velit. Nulla consequat massa quis enim.
      <br /><br />Integer tincidunt. Duis leo.Duis lobortis massa imperdiet
      quam. Nulla consequat massa quis enim. Nullam sagittis. Sed in libero ut
      nibh placerat accumsan. Maecenas malesuada. Vestibulum ullamcorper mauris
      at ligula. Phasellus a est. Sed fringilla mauris sit amet nibh. In ut quam
      vitae odio lacinia tincidunt.
    </p>
  </div>

  <div class="main-plan">
    <img src="assets/images/mainplan2.png" class="building" />
    <img id="green_1" src="assets/icons/green_big.svg" />
    <img id="blue_1" src="assets/icons/blue_small.svg" />
  </div>
</div>
