<!-- <p>admin-menu works!</p> -->

<div class="menu">
  <div class="logo"><img src="assets/images/logo.png" /></div>
  <div class="menu-list">
    <ul>
      <li>
        <a routerLink="investments" routerLinkActive="active">Investment</a>
      </li>
      <li>
        <a routerLink="apartments" routerLinkActive="active">Apartment</a>
      </li>
      <li><a routerLink="messages" routerLinkActive="active">Messages</a></li>
    </ul>

    <div class="login">
      <div class="login-icon">
        <img src="assets/icons/profile.svg" />
      </div>
      <div class="login-desc">
        <ul>
          <h4>Aleksandra Zapotoczna</h4>
          <p>Logout</p>
        </ul>
      </div>
    </div>
  </div>
</div>
