<section class="numbers-section">
  <div class="about-company grid">
    <h3>Company in numbers</h3>
    <p>
      Duis leo. Duis lobortis massa imperdiet quam. Nulla consequat massa quis
      enim. Nullam sagittis. Sed in libero ut nibh placerat accumsan. Maecenas
      malesuada. Vestibulum ullamcorper mauris at ligula.
    </p>
  </div>
  <!--  -->
  <div class="numbers grid">
    <ul>
      <li>
        <div class="numbers-info">
          <h1>22</h1>
          <h6>years on market</h6>
        </div>
      </li>
      <li>
        <div class="numbers-info">
          <h1>124</h1>
          <h6>different cities availability</h6>
        </div>
      </li>
      <li>
        <div class="numbers-info">
          <h1>65000</h1>
          <h6>apartments completed</h6>
        </div>
      </li>
      <li>
        <div class="numbers-info">
          <h1>2300</h1>
          <h6>buildings constructed</h6>
        </div>
      </li>
      <li>
        <div class="numbers-info">
          <h1>+900</h1>
          <h6>employees</h6>
        </div>
      </li>
    </ul>
  </div>
</section>
