@import 'variables.scss';

app-header,
app-footer {
  display: none;
}

$menu-width: 260px;

.admin-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  .admin-menu {
    position: fixed;
    width: $menu-width;
    height: 100vh;
    background-color: $white;
  }

  .admin-content {
    background-color: #f2f2f2;
    margin-left: $menu-width;
    padding: 0 50px;
    flex-grow: 1;
  }
}