<div class="apartment-solutions">
  <h5>Solutions</h5>
  <div class="solutions">
    <div class="solutions-icons" [ngClass]="{ active: solutions?.home }">
      <img src="/assets/icons/sol-home.png" alt="" />
      <p>Modern eco design</p>
    </div>
    <div class="solutions-icons" [ngClass]="{ active: solutions?.camera }">
      <img src="/assets/icons/sol-camera.png" alt="" />
      <p>Monitoring system</p>
    </div>
    <div class="solutions-icons" [ngClass]="{ active: solutions?.wifi }">
      <img src="/assets/icons/sol-wifi.png" alt="" />
      <p>Wi-fi connection</p>
    </div>
    <div class="solutions-icons" [ngClass]="{ active: solutions?.home2 }">
      <img src="/assets/icons/sol-home2.png" alt="" />
      <p>Automatic garage door</p>
    </div>
    <div class="solutions-icons" [ngClass]="{ active: solutions?.winter }">
      <img src="/assets/icons/sol-winter.png" alt="" />
      <p>Winter smart system</p>
    </div>
    <div class="solutions-icons" [ngClass]="{ active: solutions?.temp }">
      <img src="/assets/icons/sol-temp.png" alt="" />
      <p>Anti temperature loss protection</p>
    </div>
    <div class="solutions-icons" [ngClass]="{ active: solutions?.map }">
      <img src="/assets/icons/sol-map.png" alt="" />
      <p>Google maps connection</p>
    </div>
    <div class="solutions-icons" [ngClass]="{ active: solutions?.green }">
      <img src="/assets/icons/sol-green.png" alt="" />
      <p>Gree area district</p>
    </div>
  </div>
</div>
