<div class="investment-about">
  <h5>About investment</h5>
  <h3>{{ selectedInvestment?.name }}</h3>
  <p>
    A cosy, low-profile residential investment of
    <strong>{{ selectedInvestment?.name }}</strong>
    is being constructed in the green part of city at
    <strong>{{ selectedInvestment?.location }}</strong>. The new estate will consist of
    <strong>{{ selectedInvestment?.apartments }}</strong> apartments with varied
    well-planned out layouts and usable areas – each one with either a balcony
    or a patio with a garden – on the ground floor. <br /><br />
    Modern technologies will also add up to the comfort of the apartments,
    including an anti-smog package installed as a standard, or the possibility
    to use the smart home solutions. the disposal of our customers,<strong>{{
      selectedInvestment?.parking
      }}</strong>
    parking spaces have been designed in underground garages, with another
    <strong>{{ selectedInvestment?.garage }}</strong> spaces on the ground
    level. Moreover, the estate will have been equipped with an electric vehicle
    charging station. Bearing in mind all the two-wheeler fans, we have also
    thought of numerous bike stands. Thanks to all the functional solutions
    everyone will be able to find something to cater for their needs.
    <br /><br />
    A relaxation zone will also be a part of the investment, with an outdoor gym
    and rain gardens. The latter will not only become a place for recreation but
    will also allow proper water retention. Numerous plants will turn the estate
    into a green oasis. The well-developed road infrastructure and numerous
    retail and service points, as well as a number of educational institutions
    will all add up to the comfort and convenience of the residents’ everyday
    living. Murapol Osiedle Ambro is an ideal offer for those looking for
    apartments – both for themselves and for investment purposes.<br />
  </p>
  <h5 class="marg-top">Why is it worth it?</h5>
  <ul>
    <li>
      Each of the apartments will have a balcony. The ones on the ground floor
      will have nicely designed patios with green gardens.
    </li>
    <li>
      Quick and quiet lifts inside the buildings will allow convenient moving
      across the floors.
    </li>
    <li>
      Quick and quiet lifts inside the buildings will allow convenient moving
      across the floors. For the car owners many parking spaces were designed –
      both the ground-level ones and underground ones in the underground garages
    </li>
    <li>
      Across the estate small architecture has been designed, along with a lot
      of green plantings.
    </li>
    <li>
      There is an outdoor gym and rain gardens at the disposal of the residents.
    </li>
  </ul>
  <h5 class="marg-top">
    About apartment nr {{ selectedApartment?.number }} at
    {{ selectedInvestment?.name }}
  </h5>
  <p>
    Apartment number <strong>{{ selectedApartment?.number }}</strong> i located
    at <strong>{{ selectedInvestment?.name }}</strong>, which is new investment located at
    <Strong>{{ selectedInvestment?.location }}</Strong>. Total area of apartment is {{ selectedApartment?.area }}
    m<sup>2</sup>.
    This cozy apartment is on the
    <strong>{{ selectedApartment?.floor }}</strong> of the building, has
    <strong>{{ selectedApartment?.terrace }}</strong> terrace. With this
    apartment is connected a law to using
    <strong>{{ selectedApartment?.garage }}</strong> garage places in the -1
    condition of the building.
    <br /><br />
    For the convenience and comfort of the future residents of the investment we
    are going to implement the eco package including, among the others, an
    electric vehicle charging station and the HMS technology, as well as an
    anti-smog package installed as a standard in each apartment.
  </p>
</div>