<div class="card-desc">

  <div class="card-photo" [ngClass]="{ fullscreen: fullscreenImage }">
    <img [src]="data?.image" />
  </div>

  <div class="data">
    <h5 class="title">{{ data?.title }}</h5>
    <p class="subtitle">{{ data?.subtitle }}</p>
    <table>
      <tr *ngFor="let prop of data?.properties">
        <td>{{ prop.key }}</td>
        <td>{{ prop.value }}</td>
      </tr>
    </table>

    <a [routerLink]="[data?.actionUrl, data?.id]">
      <button class="btn">{{ data?.actionText }}</button>
    </a>
  </div>

</div>