body {
  overflow-x: hidden;
}

.grid {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}

.page-section {
  margin-top: 50px;
  margin-bottom: 50px;
}

iframe {
  width: 100%;
}

div {
  box-sizing: border-box;
}