.page-title {
    margin-top: 50px;
    margin-bottom: 35px;
    font-weight: bold;
}

.page-main-action {
    background-color: #6a48c5;
    font-family: inherit;
    color: #fff;
    padding: 10px 30px;
    border-style: none;
    border-radius: 20px;
    width: 152px;
    margin-bottom: 35px;
}