$white: #fff;
$black: #1D1D1D;

$grey-1: #BEBEBE;
$grey-2: #6E6E6E;
$grey-3: #F2F2F2;

$grey-background: #f9f9f9;

$purple: #6A48C5;
$blue: #4BCFC8;

$screen-small: 600px;
$screen-medium: 800px;
$screen-large: 1000px;