$white: #fff;
$black: #1d1d1d;

$grey-1: #bebebe;
$grey-2: #6e6e6e;
$grey-3: #f2f2f2;
$grey-4: #f9f9f9;
$grey-5: #cecece;

$grey-background: #f9f9f9;

$purple: #6a48c5;
$blue: #4bcfc8;

$screen-small: 600px;
$screen-medium: 800px;
$screen-large: 1000px;
$screen-xlarge: 1200px;
