<div class="apartment-services">
  <h5>Services</h5>
  <p>
    Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus.
    Vivamus laoreet. Aliquam eu nunc. Phasellus viverra nulla ut metus varius
    laoreet. Nulla consequat massa quis enim
  </p>
  <div class="services">
    <div class="services-desc">
      <img src="/assets/images/eco-home.png" alt="" />
      <h5>Eco bundle</h5>
      <p>
        Vestibulum eget tempus turpis. Etiam malesuada, arcu vitae elementum
        egestas, odio felis condimentum velit, eu vestibulum purus lacus nec
        nibh. Nulla a orci neque. Donec sit amet ornare leo. In quis malesuada
        arcu, quis lobortis erat. Aenean
      </p>
    </div>
    <div class="services-desc">
      <img src="/assets/images/smart-home.png" alt="" />
      <h5>Smart Home bundle</h5>
      <p>
        Vestibulum eget tempus turpis. Etiam malesuada, arcu vitae elementum
        egestas, odio felis condimentum velit, eu vestibulum purus lacus nec
        nibh. Nulla a orci neque. Donec sit amet ornare leo. In quis malesuada
        arcu, quis lobortis erat. Aenean
      </p>
    </div>
  </div>
</div>
