<div class="apartment">
  <h3>Add apartment</h3>
  <div class="add-apartment">
    <div class="add-desc">
      <form [formGroup]="apartmentForm" (ngSubmit)="onSubmit()">
        <div class="item">
          <label for="">Image:</label>
          <input type="image" id="image" formControlName="image" />
        </div>
        <div class="item">
          <label for="">InvestmentId:</label>
          <!-- <input type="text" id="investmentId" formControlName="investmentId" /> -->
          <select
            class="select"
            name="investment"
            id=""
            formControlName="investmentId"
          >
            <!-- <div class="investment-desc"></div> -->
            <option value="" selected disabled>Select invesment</option>
            <option
              [value]="investment?.objectId"
              *ngFor="let investment of investments"
            >
              {{ investment.name }}
            </option>
          </select>
        </div>
        <!--
        <select class="select" name="investment" id="">
          <option value="" selected disabled>Select invesment</option>
          <option value="">A</option>
          <option value="">B</option>
          <option value="">C</option>
        </select> -->

        <div class="item">
          <label for="">Number:</label>
          <input type="text" id="number" formControlName="number" />
        </div>
        <div class="item">
          <label for="">Location:</label>
          <input type="text" id="location" formControlName="location" />
        </div>
        <div class="item">
          <label for="">Area:</label>
          <input type="text" id="area" formControlName="area" />
        </div>
        <div class="item">
          <label for="">Bedrooms:</label>
          <input type="number" id="bedrooms" formControlName="bedrooms" />
        </div>
        <div class="item">
          <label for="">Floor:</label>
          <input type="number" id="floor" formControlName="floor" />
        </div>
        <div class="item">
          <label for="">Garage:</label>
          <input type="number" id="garage" formControlName="garage" />
        </div>
        <div class="item">
          <label for="">Terrace:</label>
          <input type="number" id="terrace" formControlName="terrace" />
        </div>
        <div class="item">
          <label for="">Price:</label>
          <input type="text" id="price" formControlName="price" />
        </div>
        <button type="submit" [disabled]="!apartmentForm.valid">Save</button>
      </form>
    </div>
  </div>
</div>
