<section class="investments">

  <div class="header-investments">
    <div class="grid">
      <div class="content">
        <h5>Choose the right property to live</h5>
        <h3>Our Investments List in Katowice City</h3>
      </div>
    </div>
  </div>

  <div class="investments-nav grid">
    <div class="investments-nav-info">
      <p>
        Found <strong>{{ investments.length }}</strong> investments
      </p>
    </div>
    <div class="investments-nav-select">
      <p>Select view</p>
      <img src="assets/icons/view-type-list.svg" (click)="changeView('list')"
        [ngClass]="{ 'selected': viewType === 'list' }" />
      <img src="assets/icons/view-type-grid.svg" (click)="changeView('grid')"
        [ngClass]="{ 'selected': viewType === 'grid' }" />
    </div>
  </div>

  <div class="collection grid">

    <div class="card-view" *ngIf="viewType === 'grid'">
      <div class="card" *ngFor="let investment of investments">
        <shared-card [data]="mapToCard(investment)"></shared-card>
      </div>
    </div>

    <div class="list-view" *ngIf="viewType === 'list'">
      <div class="list" *ngFor="let investment of investments">
        <shared-list [data]="mapToList(investment)"></shared-list>
      </div>
    </div>

  </div>

</section>