@import 'variables';

.investments {

  .header-investments {
    width: 100%;
    height: 230px;
    background-color: #aacce5;

    .grid {
      background-image: url("/assets/images/bg.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 100%;

      .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;

        h5 {
          color: $purple;
        }

        h3 {
          font-size: 36px;
          font-weight: bold;
        }
      }
    }
  }

  .investments-nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      font-size: 18px;
    }

    .investments-nav-info {
      margin: 40px 0;
    }

    .investments-nav-select {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      img {
        cursor: pointer;
        opacity: 0.3;

        &.selected {
          opacity: 1;
        }
      }

      p {
        font-weight: 200;
      }

    }
  }

  .collection {
    margin-bottom: 50px;

    .card-view {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

      .card {
        width: calc(33% - 20px);
      }
    }

  }
}

@media all and (max-width: $screen-large) {
  .investments {
    .header-investments {
      height: inherit;

      .grid {
        .content {
          padding: 50px 0;
          width: 100%;
        }
      }
    }

    .collection {
      .card-view {
        .card {
          width: 360px;
        }
      }
    }
  }
}

@media all and (max-width: $screen-medium) {
  .investments {
    .collection {
      .card-view {
        .card {
          width: 100%;
        }
      }
    }
  }
}