@import "variables";

.single-apartment {
  .main-single-apartment {
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;

    .text {
      position: absolute;
    }

    .background {
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.6) 60%,
        rgba(255, 255, 255, 0.2) 80%,
        rgba(255, 255, 255, 0) 100%
      );
    }
    .image {
      width: 100%;
      height: 100%;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    h5 {
      color: $purple;
      padding-top: 50px;
    }
    h3 {
      font-weight: bold;
    }
  }
  //

  .single-apartment-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
    margin-top: 40px;
    font-family: Roboto;

    h5 {
      font-weight: bold;
      padding-bottom: 10px;
    }
    h3 {
      color: $purple;
      font-weight: bold;
    }
    p {
      font-weight: 200;
      padding-bottom: 10px;
    }
    .apartment-desc {
      width: 80%;
    }
    .apartment-plan {
      width: 20%;
    }
  }
}

@media all and (max-width: $screen-large) {
  .single-apartment {
    .single-apartment-info {
      display: flex;
      flex-direction: column;
      flex-direction: column-reverse;

      .apartment-desc {
        width: 100%;
      }
      .apartment-plan {
        width: 100%;
      }
    }
  }
}

// @media all and (max-width: $screen-medium) {
//   .investments {
//     .collection {
//       .card-view {
//         .card {
//           width: 100%;
//         }
//       }
//     }
//   }
// }
