<section class="single-apartment">
  <div class="main-single-apartment grid">
    <!-- <div class="image">
      <img [src]="selectedInvestment?.image" />
    </div> -->
    <div
      class="image"
      [style.background-image]="'url(' + selectedInvestment?.image + ')'"
    ></div>
    <div class="background"></div>
    <div class="text">
      <h1>{{ selectedInvestment?.name }}</h1>
      <h2>{{ selectedApartment?.number }}</h2>
    </div>
  </div>

  <!--  -->
  <div class="single-apartment-info grid">
    <div class="single-apartment-desc">
      <!--  -->
      <div class="single-apartment-about">
        <h1>About investment</h1>
        <h2>{{ selectedInvestment?.name }}</h2>
        <h3>{{ selectedInvestment?.location }}</h3>
        <p>
          A cosy, low-profile residential investment of
          <strong>{{ selectedInvestment?.name }}</strong>
          is being constructed in the green part of city at
          <strong>{{ selectedInvestment?.location }}</strong
          >. The new estate will consist of
          <strong>{{ selectedInvestment?.apartments }}</strong> apartments with
          varied well-planned out layouts and usable areas – each one with
          either a balcony or a patio with a garden – on the ground floor.
          Modern technologies will also add up to the comfort of the apartments,
          including an anti-smog package installed as a standard, or the
          possibility to use the smart home solutions. At the disposal of our
          customers,<strong>{{ selectedInvestment?.parking }}</strong> parking
          spaces have been designed in underground garages, with another
          <strong>{{ selectedInvestment?.garage }}</strong> spaces on the ground
          level. Moreover, the estate will have been equipped with an electric
          vehicle charging station. Bearing in mind all the two-wheeler fans, we
          have also thought of numerous bike stands. Thanks to all the
          functional solutions everyone will be able to find something to cater
          for their needs. A relaxation zone will also be a part of the
          investment, with an outdoor gym and rain gardens. The latter will not
          only become a place for recreation but will also allow proper water
          retention. Numerous plants will turn the estate into a green oasis.
          The well-developed road infrastructure and numerous retail and service
          points, as well as a number of educational institutions will all add
          up to the comfort and convenience of the residents’ everyday living.
          Murapol Osiedle Ambro is an ideal offer for those looking for
          apartments – both for themselves and for investment purposes.
        </p>
        <h4>Why is it worth it?</h4>
        <ul>
          <li>
            Each of the apartments will have a balcony. The ones on the ground
            floor will have nicely designed patios with green gardens.
          </li>
          <li>
            Quick and quiet lifts inside the buildings will allow convenient
            moving across the floors.
          </li>
          <li>
            Quick and quiet lifts inside the buildings will allow convenient
            moving across the floors. For the car owners many parking spaces
            were designed – both the ground-level ones and underground ones in
            the underground garages
          </li>
          <li>
            Across the estate small architecture has been designed, along with a
            lot of green plantings.
          </li>
          <li>
            There is an outdoor gym and rain gardens at the disposal of the
            residents.
          </li>
        </ul>
        <h1>About apartment</h1>
        <h2>{{ selectedApartment?.number }}</h2>
        <h3>{{ selectedInvestment?.name }}</h3>
        <p>
          Apartment number <strong>{{ selectedApartment?.number }}</strong> i
          located at <strong>{{ selectedInvestment?.name }}</strong
          >, which is new investment located at
          <Strong>{{ selectedInvestment?.location }}</Strong
          >. Total area of apartment is
          {{ selectedApartment?.area }} m<sup>2</sup>. This cozy apartment is on
          the <strong>{{ selectedApartment?.floor }}</strong> of the building,
          has <strong>{{ selectedApartment?.terrace }}</strong> terrace. With
          this apartment is connected a law to using
          <strong>{{ selectedApartment?.garage }}</strong> garage places in the
          -1 condition of the building.
        </p>
        <p>
          For the convenience and comfort of the future residents of the
          investment we are going to implement the eco package including, among
          the others, an electric vehicle charging station and the HMS
          technology, as well as an anti-smog package installed as a standard in
          each apartment.
        </p>
      </div>
      <!--  -->
      <div class="single-apartment-solutions">
        <h1>Solutions</h1>
        <div class="solutions">
          <div class="solutions-icons" [ngClass]="{ active: solutions?.home }">
            <img src="/assets/icons/sol-home.png" alt="" />
            <p>Vestibulum eget tempus turpis.</p>
          </div>
          <div
            class="solutions-icons"
            [ngClass]="{ active: solutions?.camera }"
          >
            <img src="/assets/icons/sol-camera.png" alt="" />
            <p>Vestibulum eget tempus turpis.</p>
          </div>
          <div class="solutions-icons" [ngClass]="{ active: solutions?.wifi }">
            <img src="/assets/icons/sol-wifi.png" alt="" />
            <p>Vestibulum eget tempus turpis.</p>
          </div>
          <div class="solutions-icons" [ngClass]="{ active: solutions?.home2 }">
            <img src="/assets/icons/sol-home2.png" alt="" />
            <p>Vestibulum eget tempus turpis.</p>
          </div>
          <div
            class="solutions-icons"
            [ngClass]="{ active: solutions?.winter }"
          >
            <img src="/assets/icons/sol-winter.png" alt="" />
            <p>Vestibulum eget tempus turpis.</p>
          </div>
          <div class="solutions-icons" [ngClass]="{ active: solutions?.temp }">
            <img src="/assets/icons/sol-temp.png" alt="" />
            <p>Vestibulum eget tempus turpis.</p>
          </div>
          <div class="solutions-icons" [ngClass]="{ active: solutions?.map }">
            <img src="/assets/icons/sol-map.png" alt="" />
            <p>Vestibulum eget tempus turpis.</p>
          </div>
          <div class="solutions-icons" [ngClass]="{ active: solutions?.green }">
            <img src="/assets/icons/sol-green.png" alt="" />
            <p>Vestibulum eget tempus turpis.</p>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="single-apartment-services">
        <h1>Services</h1>
        <p>
          Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus.
          Vivamus laoreet. Aliquam eu nunc. Phasellus viverra nulla ut metus
          varius laoreet. Nulla consequat massa quis enim
        </p>
        <div class="services">
          <div class="services-desc">
            <img src="/assets/images/eco-home.png" alt="" />
            <h1>Eco bundle</h1>
            <p>
              Vestibulum eget tempus turpis. Etiam malesuada, arcu vitae
              elementum egestas, odio felis condimentum velit, eu vestibulum
              purus lacus nec nibh. Nulla a orci neque. Donec sit amet ornare
              leo. In quis malesuada arcu, quis lobortis erat. Aenean
            </p>
          </div>
          <div class="services-desc">
            <img src="/assets/images/smart-home.png" alt="" />
            <h1>Smart Home bundle</h1>
            <p>
              Vestibulum eget tempus turpis. Etiam malesuada, arcu vitae
              elementum egestas, odio felis condimentum velit, eu vestibulum
              purus lacus nec nibh. Nulla a orci neque. Donec sit amet ornare
              leo. In quis malesuada arcu, quis lobortis erat. Aenean
            </p>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="credit">
        <h1>Credit calculator</h1>
        <div class="credit-calculator">
          <div class="credit-cost">
            <div class="credit-alert">
              <label for="cost">Amount of credit</label>{{ costAmount }} PLN
            </div>
            <input
              type="range"
              id="cost"
              name="cost"
              min="50000"
              max="2000000"
              step="50000"
              #cost
              (change)="costSelected(cost.value)"
            />
          </div>

          <div class="credit-years">
            <div class="credit-alert">
              <label for="years">Loan period</label>{{ yearsAmount }} years
            </div>
            <input
              type="range"
              id="years"
              name="years"
              min="1"
              max="30"
              step="1"
              #years
              (change)="yearsSelected(years.value)"
            />
          </div>
          <div class="credit-rate">
            <div class="credit-rate-info">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quibusdam, quasi sequi aspernatur sapiente quam saepe laudantium
                quis eligendi labore, cumque autem optio quae nostrum voluptate
                cum, obcaecati accusantium voluptas odio. Assumenda debitis.
                Lorem ips dignissimos necessitatibus assumenda non adipisci
                reprehenderit debitis tempora itaque nostrum quia, architecto
                quos sapiente, incidunt, ea praesentium!
              </p>
            </div>
            <div class="credit-rate-cost">
              <p>Loan installment :</p>
              <div class="credit-rate-cost-info">
                <img src="assets/icons/sol-home.png" alt="" />
                <div class="credit-alert">{{ rateResult }} PLN</div>
              </div>
              <div>
                <p>RRSO 7,8%</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  -->
    <div class="single-apartment-plan">
      <div class="single-apartment-plan-grid">
        <div class="price">
          <p>{{ selectedApartment?.price }} PLN</p>
          <p class="priceForMeter">{{ costForMeter() }} PLN/m<sup>2</sup></p>
        </div>
        <p>CURRENT PRICE</p>
        <button class="buy">Buy appartment</button>
        <div class="selected-apartment-info">
          <div class="selected-apartment-desc">
            <table>
              <tr>
                <td>Number of apartment:</td>
                <td>{{ selectedApartment?.number }}</td>
              </tr>
              <tr>
                <td>Area:</td>
                <td>{{ selectedApartment?.area }}m2</td>
              </tr>
              <tr>
                <td>Floor:</td>
                <td>{{ selectedApartment?.floor }}</td>
              </tr>
              <tr>
                <td>Number of bedrooms:</td>
                <td>{{ selectedApartment?.bedrooms }}</td>
              </tr>
              <tr>
                <td>Number of garage:</td>
                <td>{{ selectedApartment?.garage }}</td>
              </tr>
              <tr>
                <td>Number of terraces:</td>
                <td>{{ selectedApartment?.terrace }}</td>
              </tr>
              <tr>
                <td>Total price:</td>
                <td>{{ selectedApartment?.price }}</td>
              </tr>
              <tr>
                <td>Price for m2:</td>
                <td>{{ costForMeter() }} PLN/m<sup>2</sup></td>
              </tr>
            </table>
          </div>
        </div>

        <img [src]="selectedApartment?.image" />
        <button class="view" (click)="popupService.popupOpen(popupTemplate)">
          View plan
        </button>
      </div>
    </div>
  </div>
</section>

<ng-template #popupTemplate>
  <div class="popup-template">
    <img [src]="selectedApartment?.image" /></div
></ng-template>
