<section class="single-apartment">
  <div class="main-single-apartment grid">
    <div
      class="image"
      [style.background-image]="'url(' + selectedInvestment?.image + ')'"
    ></div>
    <div class="background"></div>
    <div class="text">
      <h5>{{ selectedInvestment?.name }}</h5>
      <h3>Apartment nr {{ selectedApartment?.number }}</h3>
    </div>
  </div>

  <!--  -->

  <div class="single-apartment-info grid">
    <div class="apartment-desc">
      <app-about-investment></app-about-investment>

      <app-solutions></app-solutions>

      <app-apartment-services></app-apartment-services>

      <app-credit></app-credit>
    </div>

    <app-apartment-plan></app-apartment-plan>
  </div>
</section>
