<section class="promo">
  <div class="grid">
    <div class="main-promo">
      <h5>Top worldwide brand</h5>
      <h3>Why big companies choose us</h3>
      <div class="video">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/g4d3osT8TXs"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <img class="icon-right" src="assets/icons/green_top_right.png" alt="" />
    </div>
    <!--  -->
    <div class="second-promo">
      <h5>Lorem ipsum</h5>
      <p>
        Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus.
        Vivamus laoreet. Aliquam eu nunc. Phasellus viverra nulla ut metus
        varius laoreet. Nulla consequat massa quis enim.
      </p>
      <h5>Our partners</h5>
      <p>
        Nulla neque dolor, sagittis eget, iaculis quis, molestie non, velit. Cum
        sociis natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Morbi mattis ullamcorper velit. Nulla consequat massa
        quis enim. Integer tincidunt. Duis leo. Duis lobortis massa imperdiet
        quam. <br /><br />
        Nulla consequat massa quis enim. Nullam sagittis. Sed in libero ut nibh
        placerat accumsan.
      </p>
      <img class="icon-top-left" src="assets/icons/green_top_left.png" alt="" />
      <img
        class="icon-down-left"
        src="assets/icons/blue_down_left.png"
        alt=""
      />
      <div class="logos">
        <img src="assets/icons/microsoft-logo.png" />
        <img src="assets/icons/spotify-logo.png" />
        <img src="assets/icons/forbes-logo.png" />
        <img src="assets/icons/slack-logo.png" />
      </div>
    </div>
  </div>
</section>
