<div class="main">
  <div class="grid">
    <div class="main-plan"><img src="assets/images/mainplan.png" /></div>

    <div class="main-select">
      <h1>Find it. Tour it. Own it</h1>
      <h2>Choose the right right property to live and invest abroad</h2>
      <form>
        <select class="select" name="city" id="">
          <option value="" selected disabled>Select city</option>
          <option value="">Katowice</option>
          <option value="">Gliwice</option>
          <option value="">Sosnowiec</option>
        </select>

        <select class="select" name="type" id="">
          Select type
          <option value="" selected disabled>Select type</option>
          <option value="">Apartment</option>
          <option value="">Busines premises</option>
          <option value="">Garage</option>
        </select>

        <button class="btn-search">
          Search<img src="assets/icons/loop.png" />
        </button>
      </form>
    </div>
  </div>
</div>
