<h3 class="title" *ngIf="editMode">Edit investments:</h3>
<h3 class="title" *ngIf="!editMode">Add investments:</h3>

<div class="edit-investment">
  <div class="form-container">
    <div class="image-container">
      <img [src]="image" />
    </div>

    <form [formGroup]="investmentForm" (ngSubmit)="onSubmit()">
      <div class="item">
        <label for="">Image:</label>
        <input class="file-upload" id="fileUpload" type="file" #upload />
        <button class="upload" type="button" (click)="uploadFile(upload)">
          Upload
        </button>
      </div>

      <!-- <div class="item">
        <label for="">Image:</label>
        <input type="image" id="image" formControlName="image" />
      </div> -->
      <div class="item">
        <label for="">Name:</label>
        <input type="text" id="name" formControlName="name" />
      </div>
      <div class="item">
        <label for="">Location:</label>
        <input type="text" id="location" formControlName="location" />
      </div>
      <div class="item">
        <label for="">Apartmens:</label>
        <input type="text" id="apartments" formControlName="apartments" />
      </div>
      <div class="item">
        <label for="">Parking:</label>
        <input type="number" id="parking" formControlName="parking" />
      </div>
      <div class="item">
        <label for="">Garage:</label>
        <input type="number" id="garage" formControlName="garage" />
      </div>
      <div class="item">
        <label for="">Reserved:</label>
        <input type="number" id="reserved" formControlName="reserved" />
      </div>
      <div class="item">
        <label for="">Price:</label>
        <input type="text" id="price" formControlName="price" />
      </div>
      <button class="submit" [disabled]="!investmentForm.valid && isSaving">
        Save
      </button>
    </form>
  </div>
</div>