@import "variables.scss";

.edit-investment {
  background-color: $white;
  border-radius: 20px;
  padding: 30px;

  .form-container {
    .image-container {
      img {
        max-width: 300px;
      }
    }

    .item {
      display: flex;
      // flex-direction: row;
      align-items: center;
      margin-bottom: 10px;

      & > *:first-child {
        width: 200px;
      }

      input {
        margin-right: 20px;
        width: 60%;
      }
    }
  }
  input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 40px;
    width: 280px;
    border-color: $grey-1;
    border-width: 1px;
    font-size: 16px;
    padding-left: 20px;
    background-color: $white;
    opacity: 0.7;

    &:focus {
      border-color: $purple;
      border-width: 3px;
    }
  }

  button.submit,
  button.upload {
    background-color: $purple;
    font-family: inherit;
    color: #fff;
    padding: 10px 30px;
    border-style: none;
    border-radius: 20px;
    width: 152px;
    margin-top: 40px;

    &:disabled {
      opacity: 0.6;
    }
  }

  button.upload {
    margin-top: 0px;
  }
}
