<section class="footer">
  <div class="grid">

    <div class="logo-container">
      <img src="assets/images/logo.png" alt="" class="logo" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
        condimentum malesuada magna. Suspendisse nec diam ultrices, sollicitudin
        ex sed, consectetur leo
      </p>
      <div class="social-footer">
        <ul>
          <li>
            <img src="assets/icons/facebook.svg" alt="" />
          </li>
          <li>
            <img src="assets/icons/twitter.svg" alt="" />
          </li>
          <li>
            <img src="assets/icons/linkedin.svg" alt="" />
          </li>
        </ul>
      </div>
    </div>

    <div class="main-links">
      <h6>Quick Links</h6>
      <div class="links-list">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Investment</a></li>
          <li><a href="#">About Us</a></li>
          <li>
            <a href="https://www.aleksandrazapotoczna.pl/">Real Estate Uppraiser</a>
          </li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>

    <div class="services">
      <h6>Services</h6>
      <div class="links-list">
        <ul>
          <li>Building Construction</li>
          <li>Projects Plannings</li>
          <li>Interior Developments</li>
          <li>Virtual design & build</li>
          <li>Petroleum Oil & Gas</li>
        </ul>
      </div>
    </div>


    <div class="small-links">
      <h6>Quick Links</h6>
      <p>Subscribe For Our Latest<br />News & Articles.</p>
      <div class="form">
        <input placeholder="Enter email" />
        <button><img src="assets/icons/right-arrow.svg"></button>
      </div>
    </div>

  </div>
</section>