<section class="footer">
  <div class="grid">
    <div class="logo">
      <img src="assets/images/logo.png" alt="" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
        condimentum malesuada magna. Suspendisse nec diam ultrices, sollicitudin
        ex sed, consectetur leo
      </p>
      <div class="social-footer">
        <ul>
          <li>
            <img src="assets/icons/facebook.svg" alt="" />
          </li>
          <li>
            <img src="assets/icons/twitter.svg" alt="" />
          </li>
          <li>
            <img src="assets/icons/linkedin.svg" alt="" />
          </li>
        </ul>
      </div>
    </div>
    <!--  -->
    <div class="main-links">
      <h1>Quick Links</h1>
      <div class="links-list">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Investment</a></li>
          <li><a href="#">About Us</a></li>
          <li>
            <a href="https://www.aleksandrazapotoczna.pl/"
              >Real Estate Uppraiser</a
            >
          </li>
          <li><a href="#">Contact</a></li>
          <!-- <li>About Us</li>
          <li>Services</li>
          <li>Service Details</li>
          <li>Contact Us</li>
          <li>Blog Post</li> -->
        </ul>
      </div>
    </div>
    <!--  -->
    <div class="services">
      <h1>Services</h1>
      <div class="links-list">
        <ul>
          <li>Building Construction</li>
          <li>Projects Plannings</li>
          <li>Interior Developments</li>
          <li>Virtual design & build</li>
          <li>Petroleum Oil & Gas</li>
        </ul>
      </div>
    </div>
    <!--  -->
    <div class="small-links">
      <h1>Quick Links</h1>
      <p>Subscribe For Our Latest News & Articles.</p>
      <input placeholder="Enter email" />
    </div>
  </div>
  <!--  -->
</section>
