<div class="header">
  <h3 class="title">Investments List</h3>
  <a routerLink="../add-investment"><button>Add new</button></a>
</div>

<div class="investment-info-list">
  <div class="investment-desc" *ngFor="let investment of investments">
    <shared-list [data]="mapToList(investment)" [fullscreenImage]="false" [showBinIcon]="true"
      (emitDeleteClick)="showPopup($event)"></shared-list>
  </div>
</div>

<ng-template #popupTemplate>
  <div class="popup-template">
    <div>Do you want to remove an investment?</div>
    <div class="answear">
      <button (click)="deleteInvestment()">YES</button>
      <button (click)="popupService.popupClose()">NO</button>
    </div>
  </div>
</ng-template>