<div class="main grid page-section">
  <div class="about-us">
    <h5>About Us</h5>
    <h3>We are building best appartments in the whole world</h3>
    <p>
      Phasellus dolor. Quisque rutrum. Donec quam felis, ultricies nec,
      pellentesque eu, pretium quis, sem. Proin pretium, leo ac pellentesque
      mollis, felis nunc ultrices eros, sed gravida augue augue mollis justo.
      Phasellus gravida semper nisi.<br /><br />
      Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus.
      Vivamus laoreet. Aliquam eu nunc. Phasellus viverra nulla ut metus varius
      laoreet. Nulla consequat massa quis enim. Nulla neque dolor, sagittis
      eget, iaculis quis, molestie non, velit. Cum sociis natoque penatibus et
      magnis dis parturient montes, nascetur ridiculus mus. Morbi mattis
      ullamcorper velit. Nulla consequat massa quis enim.
      <br /><br />Integer tincidunt. Duis leo.Duis lobortis massa imperdiet
      quam. Nulla consequat massa quis enim. Nullam sagittis. Sed in libero ut
      nibh placerat accumsan. Maecenas malesuada. Vestibulum ullamcorper mauris
      at ligula. Phasellus a est. Sed fringilla mauris sit amet nibh. In ut quam
      vitae odio lacinia tincidunt.
    </p>
  </div>

  <div class="main-plan">
    <img src="assets/images/mainplan2.png" class="building" />
    <img id="green_1" src="assets/icons/green_big.svg" />
    <img id="blue_1" src="assets/icons/blue_small.svg" />
  </div>
</div>

<!--  Company numbers  -->
<section class="numbers-section">
  <div class="about-company grid">
    <h3>Company in numbers</h3>
    <p>
      Duis leo. Duis lobortis massa imperdiet quam. Nulla consequat massa quis
      enim. Nullam sagittis. Sed in libero ut nibh placerat accumsan. Maecenas
      malesuada. Vestibulum ullamcorper mauris at ligula.
    </p>
  </div>
  <!--  -->
  <div class="numbers grid">
    <ul>
      <li>
        <div class="numbers-info">
          <h1>22</h1>
          <h6>years on market</h6>
        </div>
      </li>
      <li>
        <div class="numbers-info">
          <h1>124</h1>
          <h6>different cities availability</h6>
        </div>
      </li>
      <li>
        <div class="numbers-info">
          <h1>65000</h1>
          <h6>apartments completed</h6>
        </div>
      </li>
      <li>
        <div class="numbers-info">
          <h1>2300</h1>
          <h6>buildings constructed</h6>
        </div>
      </li>
      <li>
        <div class="numbers-info">
          <h1>+900</h1>
          <h6>employees</h6>
        </div>
      </li>
    </ul>
  </div>
</section>

<!--  Team members  -->

<section class="team grid">
  <div class="team-info">
    <h5>Team Members</h5>
    <h3>Our Professional Team</h3>
  </div>

  <!--  -->
  <div class="team-member">
    <div class="team-member-info" *ngFor="let user of users">
      <div class="member-photo">
        <img [src]="user.image" alt="" />
      </div>
      <div class="member-desc">
        <h5>{{ user.name }}</h5>
        <p class="position">{{ user.position }}</p>
        <p>{{ user.desc }}</p>
        <div class="social-footer">
          <ul>
            <li *ngIf="user.facebookLink">
              <img src="assets/icons/facebook.svg" alt="" />
            </li>
            <li *ngIf="user.twitterLink">
              <img src="assets/icons/twitter.svg" alt="" />
            </li>
            <li *ngIf="user.linkedinLink">
              <img src="assets/icons/linkedin.svg" alt="" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Company Advertisment -->

<section class="promo">
  <div class="grid">
    <div class="main-promo">
      <h5>Top worldwide brand</h5>
      <h3>Why big companies choose us</h3>
      <div class="video">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/g4d3osT8TXs"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <img class="icon-right" src="assets/icons/green_top_right.png" alt="" />
    </div>
    <!--  -->
    <div class="second-promo">
      <h5>Lorem ipsum</h5>
      <p>
        Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus.
        Vivamus laoreet. Aliquam eu nunc. Phasellus viverra nulla ut metus
        varius laoreet. Nulla consequat massa quis enim.
      </p>
      <h5>Our partners</h5>
      <p>
        Nulla neque dolor, sagittis eget, iaculis quis, molestie non, velit. Cum
        sociis natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Morbi mattis ullamcorper velit. Nulla consequat massa
        quis enim. Integer tincidunt. Duis leo. Duis lobortis massa imperdiet
        quam. <br /><br />
        Nulla consequat massa quis enim. Nullam sagittis. Sed in libero ut nibh
        placerat accumsan.
      </p>
      <img class="icon-top-left" src="assets/icons/green_top_left.png" alt="" />
      <img
        class="icon-down-left"
        src="assets/icons/blue_down_left.png"
        alt=""
      />
      <div class="logos">
        <img src="assets/icons/microsoft-logo.png" />
        <img src="assets/icons/spotify-logo.png" />
        <img src="assets/icons/forbes-logo.png" />
        <img src="assets/icons/slack-logo.png" />
      </div>
    </div>
  </div>
</section>

<!-- Opinions -->

<section class="opinions grid">
  <div class="main-opinions">
    <h5>Testimonials</h5>
    <h3>What Our Client Say?</h3>
  </div>
  <!--  -->
  <div class="opinions-desc">
    <div class="user-info">
      <div class="user-photo">
        <img [src]="usersOpinions[selectedUser].image" alt="" />
      </div>
      <div class="user-info-desc">
        <p>{{ usersOpinions[selectedUser].name }}</p>
        <p class="position">{{ usersOpinions[selectedUser].position }}</p>
      </div>
    </div>
    <p class="opinion">
      {{ usersOpinions[selectedUser].opinion }}
    </p>
    <div class="arrows">
      <img
        class="left"
        (click)="previousSlide()"
        src="assets/icons/turn_left.png"
        alt=""
      />
      <img
        class="right"
        (click)="nextSlide()"
        src="assets/icons/turn_right.png"
        alt=""
      />
    </div>
  </div>
</section>
