<section class="explore">
  <div class="main-explore grid">
    <div
      class="image"
      [style.background-image]="'url(' + selectedInvestment?.image + ')'"
    ></div>
    <div class="background"></div>
    <div class="text">
      <h1>{{ selectedInvestment?.name }}</h1>
      <h2>{{ selectedInvestment?.location }}</h2>
    </div>
  </div>

  <!--  -->
  <div class="explore-nav grid">
    <div class="explore-nav-info">
      <p>
        Found <strong>{{ apartments.length }}</strong> apartments
      </p>
    </div>
    <div class="explore-nav-select">
      <p>Select view</p>
      <img src="assets/icons/select_list.png" alt="" />
      <img src="assets/icons/select_box.png" alt="" />
    </div>
  </div>

  <!--  Card -->

  <div class="apartments-info grid">
    <div class="apartments-desc" *ngFor="let apartment of apartments">
      <shared-card
        [data]="mapToCard(apartment)"
        [fullscreenImage]="false"
      ></shared-card>
    </div>
  </div>

  <!--  Lista -->
  <div class="apartments-info-list grid">
    <div class="apartments-desc" *ngFor="let apartment of apartments">
      <shared-list
        [data]="mapToList(apartment)"
        [fullscreenImage]="false"
      ></shared-list>
    </div>
  </div>
</section>

<!--  Rzuty -->

<!-- <section class="single-apartment">
  <div class="single-image">
    <img src="assets/images/rzut-1.jpg" alt="" />
  </div>
  <div class="single-info">121313</div>
</section> -->
